---
import Layout from "../layouts/Layout.astro";
import Header from "../components/Header.astro";
import HeroSection from "../components/HeroSection.astro";
import Powerwall from "../components/Powerwall.astro";
import ModelY from "../components/Model-Y.astro";
import ModelS from "../components/Model-S.astro";
import Model3 from "../components/Model-3.astro";
import ModelX from "../components/Model-X.astro";
import Cybertruck from "../components/Cybertruck.astro";
---

<Layout title="Coches electricos, energia solar y limpia">
  <Header />

  <main class="snap-y snap-mandatory relative w-full h-screen overflow-auto scroll-smooth">

	<div id="top" class=" snap-center">
		<HeroSection />
	</div>

	<div id="model-s" class="snap-center">
		<ModelS/>
	</div>

	<div id="model-x" class="snap-center">
		<ModelX/>
	</div>

	<div id="model-y" class="snap-center">
		<ModelY/>
	</div>

	<div id="model-3" class="snap-center">
		<Model3/>
	</div>

	<div id="cybertruck" class="snap-center">
		<Cybertruck/>
	</div>

	<div id="powerwall" class="snap-center snap-always">
		<Powerwall />
	</div>
   
  </main>
</Layout>
