<section
  class="landing-section bg-black h-screen  text-center relative overflow-hidden" 
  data-header-color="white"
>
  <div class="z-30 relative h-full flex flex-col justify-start">
    <header >
        <h2 class="text-white pt-48 leading-tight pl-40 text-5xl font-semibold flex flex-start">
            Model 3
        </h2>
        <p class="text-white text-sm flex flex-start pl-40">
            Standard y Long Range
          </p>
    </header>

    <footer class="flex flex-around flex-grow justify-start items-center gap-24 pb-48">
        <div class="flex flex-col pl-40  gap-y-4 ">
            <a
              class="border-[3px] border-blue-600 bg-blue-600 backdrop-blur-xl text-xs rounded font-medium text-white px-16 py-2 inline-flex justify-center items-center hover:bg-blue-700 hover:border-blue-700 transition-colors"
              href="https://www.tesla.com/es_cl/model3/design#overview">Ordenar</a
            >
            <a
              class="border-[3px] border-black/5 bg-black/80  text-xs rounded font-medium text-white px-16 py-2 inline-block hover:bg-white hover:text-black transition-colors"
              href="https://www.tesla.com/es_cl/model3">Más información</a
            >
          </div>
    </footer>
    
  </div>

  <div class="absolute top-0 bottom-0 w-screen z-10">
    <img class="object-center object-cover h-full w-full" src="/Model-3.webp" />
  </div>
</section>
