<section
  class="landing-section bg-black h-screen  text-center relative overflow-hidden" 
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-24 text-[40px] font-medium">Model S</h2>
      <p class="text-black text-xl font-medium text-center">
        Plaid
      </p>
    </header>

    <footer class="flex flex-around flex-grow justify-center items-center gap-24 pt-72">
      <section class="flex flex-col gap-y-2 items-center text-white font-medium">
        <div class="flex flex-col gap-y-2">
            <h3 class="text-2xl">348mi</h3>
        </div>
        <p class="text-sm text-pretty">Autonomía</p>
      </section>
      <section class="flex flex-col gap-y-2 items-center text-white font-medium">
        <div class="flex flex-col gap-y-2">
            <h3 class="text-2xl">1.99 s</h3>
        </div>
        <p class="text-xs">0-60 mph1</p>
      </section>
      <section class="flex flex-col gap-y-2 items-center text-white font-medium">
        <div class="flex flex-col gap-y-2">
            <h3 class="text-2xl">200 
                mph</h3>
        </div>
        <p class="text-xs">Velocidad máxima2</p>
      </section>
      <section class="flex flex-col gap-y-2 items-center text-white font-medium">
        <div class="flex flex-col gap-y-2">
            <h3 class="text-2xl">1,020 hp</h3>
        </div>
        <p class="text-xs">Potencia Máxima</p>
      </section>
     
    </footer>
    <div class="pb-6 pt-3">
        <a
        class="border-[3px] border-blue-600 bg-blue-600 backdrop-blur-xl text-xs rounded font-medium text-white px-24 py-2 inline-flex justify-center items-center hover:bg-blue-700 hover:border-blue-700 transition-colors"
        href="https://www.tesla.com/es_cl/updates">Ordenar</a
      >
    </div>
    
  </div>

  <div class="absolute top-0 bottom-0 w-screen z-10">
    <img class="object-center object-cover h-full w-full" src="/Model-S.webp" />
  </div>
</section>
