<section
  class="landing-section bg-black h-screen  text-center relative overflow-hidden" 
  data-header-color="black"
>
  <div class="z-30 relative h-full flex flex-col">
    <header>
      <h2 class="text-black pt-24 text-[40px] font-medium">Model Y</h2>
    </header>

    <footer class="flex flex-around flex-grow justify-center items-center gap-24 pt-80">
      <section class="flex flex-col gap-1 items-center text-white font-medium">
        <div class="flex flex-col ">
            <h3 class="text-2xl">2,100
              +</h3>
        </div>
        <p class="text-sm text-pretty">Litros de carga</p>
      </section>
      <section class="flex flex-col gap-1 items-center text-white font-medium">
        <div class="flex flex-col ">
            <h3 class="text-2xl">565
              km</h3>
        </div>
        <p class="text-xs">Autonomía (est.)</p>
      </section>
      <section class="flex flex-col gap-y-1 items-center text-white font-medium">
        <div class="flex flex-col ">
            <h3 class="text-2xl">AWD</h3>
        </div>
        <p class="text-xs">Dual Motor</p>
      </section>
     
    </footer>
    <div class="flex gap-x-6 mx-auto pb-6 pt-3">
      <a
        class="border-[3px] border-blue-600 bg-blue-600 backdrop-blur-xl text-xs rounded font-medium text-white px-20 py-2 inline-flex justify-center items-center hover:bg-blue-700 hover:border-blue-700 transition-colors"
        href="https://www.tesla.com/es_cl/modely/design#overview">Ordenar</a
      >
      <a
        class="border-[3px] border-white bg-white/5 backdrop-blur-md text-xs rounded font-medium text-white px-9 py-2 inline-block hover:bg-white hover:text-black transition-colors"
        href="https://www.tesla.com/es_cl/drive?selectedModel=ModelY">Prueba de conduccion</a
      >
    </div>
  </div>

  <div class="absolute top-0 bottom-0 w-screen z-10">
    <img class="object-center object-cover h-full w-full" src="/Model-Y.webp" />
  </div>
</section>
