<section 
    class="landing-section bg-black h-screen  text-center relative overflow-hidden"
    data-header-color="white"
    >
    <div class="z-30 relative h-full flex flex-col">
      <header>
        <h2 class="text-white pt-24 text-[40px] font-medium">
            Supercharger
        </h2>
      </header>
  
      <footer class="flex flex-col flex-grow justify-end pb-16">
        <div>
          <a
            class="border-[3px] border-white bg-white/5 backdrop-blur-xl text-sm rounded font-medium text-white px-12 py-2 inline-block hover:bg-white hover:text-black transition-colors"
            href="https://www.tesla.com/es_cl/updates">Conocer mas</a
          >
        </div>
      </footer>
    </div>
  
    <div class="absolute top-0 bottom-0 w-screen  z-10">
      <img
        class="object-center object-cover h-full w-full"
        src="/cargador.webp">
    </div>
  </section>
  